@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.home-screen-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)),
    url('./images/tom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  @apply font-bold py-2 px-4;
}
.btn-green {
  @apply bg-safe-green text-white;
}
.btn-green:hover {
  @apply bg-safe-green-dark;
}

.scroll-down {
  bottom: 75px;
	position: absolute;
	left: 50%;
	display: block;
  width: 30px;
  height: 30px;
  margin-left:-15px;
  border-bottom: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
  animation:         fade_move_down 3s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-7px) rotate(45deg);  }
  50% { transform:translate(0,7px) rotate(45deg); }
  100%   { transform:translate(0,-7px) rotate(45deg);  }
}
