.home-screen-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)), url(img/tom.jpg);
}

.scroll-down {
  bottom: 75px;
	position: absolute;
	left: 50%;
	display: block;
  width: 30px;
  height: 30px;
  margin-left:-15px;
  border-bottom: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
  animation:         fade_move_down 3s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-7px) rotate(45deg);  }
  50% { transform:translate(0,7px) rotate(45deg); }
  100%   { transform:translate(0,-7px) rotate(45deg);  }
}


.hide {
  display: none;
}

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  overflow: hidden;
}

.overlay-menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight:900;
}

.one { width: 6.866%; }

.hamburger .line{
  width: 30px;
  height: 3px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburgerIcon.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburgerIcon.is-active .line:nth-child(1){
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

#hamburgerIcon.is-active .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.mission-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  .mission-grid {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

.mission-container {
  height:275px;
  background-position: center center;
  background-size: cover;
  color: white;
}
.mission-container > h2 {
  color: white;
}

@media (min-width: 992px) {
  .mission-container {
    height:275px;
    background-size: 0 0;
    background-position: center;
    color: #3d4852;
  }
  .mission-container > h2 {
      color: green
  }
  
  .mission-container:hover {
    background-size: auto;
    color: white;
  }
  .mission-container:hover > h2 {
    color: white;
  }
}

.hide-background-image {
  background-position: -2000px;
}

.greater-manchester {
  font-weight: 200;
  font-variant: petite-caps;
  letter-spacing: 2px;
  font-size: small;
}

.food-forum {
  letter-spacing: 1px;
  text-transform: uppercase;
}
